html {
    scroll-behavior: smooth; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #2d0967 0%, #081c2b 100%);
    padding-bottom: 2rem;
}

/*HEADER*/
header {
    /*position: fixed;*/
    top: 1%;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

nav a {
    font-size: 1rem;
    color: #ededed;
    margin-left: 20px;
    text-decoration: none;
    transition: .3s;
}

nav a:hover, .active {
    color: rgb(179, 107, 246);
}

/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    color: #ededed;
    align-items: center;
    height: 100vh;
    margin-top: 20vh;
}

p {
    opacity: 0.7;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.home-content {
    width: 90%;
    height: auto;
    padding: 0 15%;
    align-items: center;
}

.social-media img {
    width: 4%;
    height: auto;
    margin: 1.5rem 0.3rem;
}

.social-media a {
    opacity: 0.6;
}

.social-media a:hover {
    opacity: 0.9;
    transition: 0.3s;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-container a {
    display: block;
    position: relative;
    text-decoration: none;
    transition: all 0.7s ease-out;
    color: #ededed;
    background-color: transparent;
}

.card-container a:hover {
    text-decoration: none;
    color: #ededed;
    background-color: #400d9181;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.);
    top: -4px; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 60vh;
    height: 60vh;
    border: 1px solid #f2f8f96b;
    border-radius: 4px;
    background-color: transparent;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: all 0.7s ease-out;
}

.card-container a:hover .card::before {
    transform: scale(2.15); 
}


.card img { 
    max-width: 50%;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.divider {
    width: 60%;
    height: 2px;
    margin: 5% 0;
    opacity: 0.2;
}

#contact p {
    margin-bottom: 10rem;
}

#contact a {
    color: #ededed;
    text-underline-offset: 4px;
    transition: .3s;
}

#contact a:hover, .active {
    color: rgb(179, 107, 246);
}
