#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
  max-width: none;
}

body {
  background-color: #fcf7f8;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #093676;
  font-size: 79px;
}

p {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #222222;
  font-size: 27px;
}